<p id="notice"><%= notice %></p>

<h1>Find a Flight</h1>

      <%= form_with url: flights_path, method: :get, local: true do %>
        <%= label_tag :start_airport, 'From' %>
        <%= select_tag(:start_airport, options_from_collection_for_select(Airport.all, :id, :airport_code)) %>
        <%= label_tag :end_airport, 'To' %>
        <%= select_tag(:end_airport, options_from_collection_for_select(Airport.all, :id, :airport_code)) %>
        <%= label_tag :passengers, 'Passengers' %>
        <%= select_tag(:passengers, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4]])) %>
        <%= label_tag :departure_time, 'Date' %>
        <%= select_tag(:departure_time, options_from_collection_for_select(Flight.all, :departure_time, :flight_date_formatted)) %>
        <br><br>
        <%= submit_tag 'Search Flights' %>
      <% end %>
      <br />

      <%= form_with url: new_booking_path, method: :get, local: true do %>
        <% if @flights.present? %>
          <% @flights.each do |flight| %>
            <div style="border:1px; border-style:solid; border-color:#000000; padding: 1em;">
            <%= radio_button_tag :flight_id, flight.id %>
            <%= flight.start_airport.airport_code %>
            <%= flight.end_airport.airport_code %>
            <%= flight.flight_date_formatted %>
            <%= "Duration: #{flight.flight_duration} hours" %>
            </div>
            <%= hidden_field_tag :passengers, params[:passengers] %><br>
            <%= submit_tag "Next" %>
          <% end %>
        <% end %>
      <% end %>

